<!DOCTYPE html>
<html class="no-js" lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>403 Lỗi - iTech Heaven.</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />

  <!-- ========================= CSS here ========================= -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/LineIcons.3.0.css" />
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

<!-- Preloader -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- /End Preloader -->

<!-- Start Error Area -->
<div class="error-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="error-content">
          <h1>403</h1>
          <h2>Ôi không! Không có quyền truy cập!</h2>
          <p>Bạn không có quyền truy cập vào trang này. Vui lòng kiểm tra lại hoặc liên hệ với quản trị viên.</p>
          <div class="button">
            <a th:href="@{/home}" class="btn">Quay về trang chủ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Error Area -->

<!-- ========================= JS here ========================= -->
<script src="/js/bootstrap.min.js"></script>
<script>
  window.onload = function () {
    window.setTimeout(fadeout, 500);
  }

  function fadeout() {
    document.querySelector('.preloader').style.opacity = '0';
    document.querySelector('.preloader').style.display = 'none';
  }
</script>
</body>

</html>
