<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="no-js" lang="zxx">




<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Reset password - iTech Heaven.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />

</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve
    your experience and security.
</p>
<![endif]-->

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- /End Preloader -->


<!-- Start Header Area -->
<header th:insert="~{/header-layout :: header}" ></header>
<!-- End Header Area -->


<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Đặt lại mật khẩu</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
                    <li>Đặt lại mật khẩu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Account Login Area -->
<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">

                <form method="post" class="card login-form" th:action="@{/reset-password}" onsubmit="return validatePassword()">
                    <input type="hidden" name="token" th:value="${token}"/>
                    <div class="card-body">
                        <div class="title">
                            <h3>Đặt lại mật khẩu</h3>
                        </div>

                        <div class="fs-6 fw-normal text-secondary form-group input-group">

                            <label for="password">Mật khẩu</label>
                            <input class="form-control" type="password" id="password" required>
                        </div>

                        <div class="fs-6 fw-normal text-secondary form-group input-group">
                            <label for="confirm-password">Xác nhận mật khẩu</label>
                            <input class="form-control" type="password" id="confirm-password" name="confirm-password" required>
                        </div>
                        <div id="error-message" class="fs-6 fw-normal text-center text-secondary m-0 px-md-5 error-message text-center mt-3 alert alert-danger" style="display: none;"></div>
                        <div class="button">
                            <button class="btn" type="submit">Đặt lại mật khẩu</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Account Login Area -->


<!-- Start Footer Area -->
<footer th:insert="~{/footer-layout :: footer}"></footer>
<!--/ End Footer Area -->


<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/main.js"></script>
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;
        var error = document.getElementById("error-message");
        if(password.length < 6){
            error.textContent = "Mật khẩu phải ít nhất 6 kí tự!"
            error.style.display = 'block';
            return false;
        }

        if (password !== confirmPassword) {
            error.textContent ="Mật khẩu không trùng khớp!"
            error.style.display = 'block';
            return false;
        }
        error.textContent = "";
        return true;
    }


</script>
</body>


</html>